
* {
    box-sizing: border-box;
}
#sb-site {
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
    padding: 65px 15px 15px;
}
.sb-slidebar {
    background-color: #222222;
    color: #E8E8E8;
}
.sb-slidebar a {
    color: #FF3971;
    text-decoration: none;
}
.sb-slidebar a:hover {
    color: #E83165;
    text-decoration: underline;
}
.sb-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sb-menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 0;
    width: 100%;
}
.sb-menu > li:first-child {
    border-top: medium none;
}
.sb-menu > li:last-child {
    border-bottom: medium none;
}
.sb-menu li a {
    color: #F2F2F2;
    display: inline-block;
    padding: 1em;
    width: 100%;
}
.sb-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    text-decoration: none;
}
.sb-left .sb-menu li a {
    border-left: 3px solid rgba(0, 0, 0, 0);
}
.sb-left .sb-menu li a:hover {
    border-left: 3px solid;
}
.sb-right .sb-menu li a {
    border-right: 3px solid rgba(0, 0, 0, 0);
}
.sb-right .sb-menu li a:hover {
    border-right: 3px solid;
}
.sb-submenu {
    background-color: rgba(255, 255, 255, 0.05);
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
span.sb-caret {
    border: 5px solid rgba(0, 0, 0, 0);
    display: inline-block;
    height: 0;
    margin: 0 5px;
    width: 0;
}
span.sb-caret {
    border-bottom: 0 solid rgba(0, 0, 0, 0);
    border-top: 5px solid;
}
.sb-submenu-active > span.sb-caret {
    border-bottom: 5px solid;
    border-top: 0 solid rgba(0, 0, 0, 0);
}
.sb-widget {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    margin: 14px;
}
.sb-widget-header {
    background-color: #292929;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 14px;
}
.sb-widget-title {
    margin: 0;
}
.sb-widget-content {
    background-color: #262626;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 14px;
}
.sb-navbar {
    background-color: #219AEB;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 50%, rgba(0, 0, 0, 0.02) 51%);
    background-repeat: no-repeat;
    background-size: 100% auto;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.01), 0 4px 0 0 rgba(0, 0, 0, 0.02), 0 3px 0 0 rgba(0, 0, 0, 0.04), 0 2px 0 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.08), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 1px 0 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 0 rgba(255, 255, 255, 0.1) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    height: 50px;
    left: auto;
    position: fixed;
    right: auto;
    top: 0;
    width: 100%;
    z-index: 1000;
}
html.sb-android .sb-navbar {
    position: absolute;
}
.sb-navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sb-navbar-menu-left {
    float: left;
}
.sb-navbar-menu-right {
    float: right;
}
.sb-navbar-menu li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
.sb-navbar-menu li a {
    color: #F2F2F2;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
}
.sb-navbar-menu li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: #F2F2F2;
}
.sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
    cursor: pointer;
}
.sb-navbar .sb-toggle-left {
    float: left;
    padding: 14px;
    width: 52px;
}
.sb-navbar .sb-toggle-right {
    float: right;
    padding: 14px;
    width: 52px;
}
.navicon-line {
    background-color: #FFFFFF;
    border-radius: 1px;
    height: 4px;
    margin-bottom: 3px;
    width: 24px;
}
.sb-navbar .sb-toggle-left:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.sb-navbar .sb-toggle-right:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
@media (max-width: 767px) {
    .sb-navbar-menu {
        display: none;
    }
}
